<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.usth.githubclient">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_background"
        android:supportsRtl="true"
        android:theme="@style/Theme.USTHGitHubClient"
        tools:targetApi="33" >

        <!-- Authentication main display and also the LAUNCHER (observe ViewModel, render UI) -->
        <activity
            android:name="com.usth.githubclient.activities.AuthenticationActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Activity receives redirect from browser (callback, no UI) -->
        <activity
            android:name="com.usth.githubclient.auth.AuthCallbackActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:taskAffinity=""
            android:theme="@style/Theme.Transparent.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <!-- Match 100% with redirect URL that confirmed on GitHub: {scheme}://{host}/callback -->
                <data
                    android:scheme="@string/oauth_redirect_scheme"
                    android:host="@string/oauth_redirect_host"
                    android:path="/callback"/>
            </intent-filter>
        </activity>

        <!-- Display after Authentication -->
        <activity
            android:name="com.usth.githubclient.activities.MainActivity"
            android:exported="true">
        </activity>
    </application>
</manifest>